bind/redis/data/dump.rdb
bind/minio/data/
bind/mydb/data/
bind/crdb/data/
*.rdb
.env
inbox/certs/cert.crt
inbox/certs/cert.key
meetserver/certs/cert.crt
meetserver/certs/cert.key
logs/
certs/
data/
.DS_Store
